@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root{
    --clr-p-vd-magenta: hsl(300 43% 22%);
    --clr-p-s-pink: hsl(333 80% 67%);

    --clr-n-dg-magenta: hsl(303  10% 53%);
    --clr-n-lg-magenta: hsl(300 24% 96%);
    --clr-n-white: hsl(0 0% 100%);

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --fs-400: 0.9rem;
    --fs-500: 1.2rem;
    --fs-700: 1.75rem;

    --ff-league-spartan: 'League Spartan', sans-serif;;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url('images/bg-pattern-top-mobile.svg'),url('images/bg-pattern-bottom-mobile.svg');
    background-position: top, bottom;
    background-repeat: no-repeat,no-repeat;
    background-size: 100%;

}
main{
    padding-block: 5em;
    font-family: var(--ff-league-spartan);
}
.container{
    width: 85%;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 2.5em;
}
header h1{
    color: var(--clr-p-vd-magenta);

    font-weight: var(--fw-700);
    line-height: 1d;
    margin-bottom: .8em;
    font-size: var(--fs-700);
}

header p{
    color: var(--clr-n-dg-magenta);
    font-weight: var(--fw-700);
    font-size: var(--fs-500);
}
.rating{
    padding: 1.2em 2.5em;
    text-align: center;
    background-color: var(--clr-n-lg-magenta);
    border-radius: 10px;
}

.stars{
    margin-bottom: .5em;
}

.rating p{
    
    color:var(--clr-p-vd-magenta);

    font-weight: var(--fw-700);
    font-size: var(--fs-500);
}
.rating + .rating{
    margin-top: 1em;
}

.rating:last-child{
    margin-bottom: 2em;
}

.card{
    background-color: var(--clr-p-vd-magenta);
    color: var(--clr-n-white);

    padding: 2.5em;
    font-weight: var(--fw-700);

    border-radius: 10px;
}

.card__header{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1.5em;
}

.card__header img{
    border-radius: 100%;
    width: 20%;
    max-width: 4em;
    overflow: hidden;
}

.card__header-text p{
    font-size: var(--fs-500);
}
.card__header-text p + p{
    color: var(--clr-p-s-pink);
    font-weight: var(--fw-500);
    margin-top: .3em;
}

.card__body{
    font-weight: var(--fw-400);
    font-size: var(--fs-500);
}

.card:not(:last-child){
    margin-bottom: 1em;
}

@media only screen and (min-width: 949px){
    :root{
        --fs-400: 1.375rem;
        --fs-500: 1.7rem;
        --fs-700: 3rem;
    }


    body{
        min-height: 100vh;
        background-image: url('images/bg-pattern-top-desktop.svg'),url('images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat,no-repeat;
        background-position: top left,bottom right;
        background-size: 30%,70%;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .container{
        display: flex;
        text-align: left;
        justify-content: space-between;
    }
    .container:not(:last-child){
        gap: 3.2em;
        margin-bottom: 5em;
    }
    .rating{
        display: flex;
        align-items: center;
        gap: 1.5em;
    }
    
    .stars{
        margin-bottom: 0;
    }

    header{
        text-align: start;
        margin-bottom: 0;
        width: 35%;
    }



    .card__header-text p{
        font-size: calc( 1.2rem + .2vw); 
    }

    .card__body{
        font-weight: var(--fw-400);
        font-size: var(--fs-500);
    }
    .rating:first-child{
        margin-right: 7em;
    }
    .rating:last-child{
        margin-bottom: 0;
        margin-left: 5em;
    }

    .rating:nth-child(2){
        margin-inline: 2.5em;
    }

    .card:not(:last-child){
        margin-bottom: 0;
        margin-right: 2em;
    }

    .card:first-child{
        margin-bottom: 4.5rem;
    }

    .card:nth-child(2){
        margin-block: 2rem;
    }

    .card:last-child{
        margin-top: 4rem;
    }
}